In [15]:
import os
import pandas
import board
import busio
import adafruit_bmp3xx
import adafruit_lsm303_accel
import adafruit_lsm303dlh_mag
import time
import picamera

#Delete the csvs if they already exist#
for file_name in os.listdir('.'):
    if file_name.endswith('.csv'):
        os.remove(file_name)

##### set up I2C and sensors #####
i2c = busio.I2C(board.SCL,board.SDA)
bmp = adafruit_bmp3xx.BMP3XX_I2C(i2c)
accel = adafruit_lsm303_accel.LSM303_Accel(i2c)
mag = adafruit_lsm303dlh_mag.LSM303DLH_Mag(i2c)

#set up a DataFrame with columns time, for temp, pressure, 3 columns for acceleraton and 3 for magnetometer
df = pandas.DataFrame(columns=['time','temperature','pressure',
                               'acc_x','acc_y','acc_z',
                               'mag_x','mag_y','mag_z'])

# Set up camera stuff.
### MAYBE ALSO ITERATE THE CAMERA RECORDINGS ###
# cam = picamera.PiCamera() #intiialize camera
# cam.resolution = (640, 480) #Figure out best cam resolution, linked in GitHub
# camera.framerate = 90
# cam.start_recording('video.h264') #start recording and name video file

# Define start time, delay, and total elapsed time
start_time = time.time()
delay_time = 10
record_time = 20

# iteration
i = 0
itersperfile = 10

# FOR TESTING
print('Start')

elapsed_time = time.time() - start_time

while time.time() - start_time < delay_time + record_time:
    # Update elapsed time
    elapsed_time = time.time() - start_time
    # Skip everything else if we're still in delay period
    if elapsed_time < delay_time:
        continue
    # Otherwise, append data to dataframe
    df = df.append({'time':(elapsed_time - delay_time),
                    'temperature':bmp.temperature,
	  	    		'pressure':bmp.pressure,
		    		'acc_x':accel.acceleration[0],
	            	'acc_y':accel.acceleration[1],
		    		'acc_z':accel.acceleration[2],
		    		'mag_x':mag.magnetic[0],
	            	'mag_y':mag.magnetic[1],
		    		'mag_z':mag.magnetic[2]},
		    		ignore_index=True)
    
    # start the counter
    i += 1
    
    if (i % itersperfile) == 0: 
        df.to_csv(f'data{int(i / itersperfile)}.csv', index = False)

# if the program managed to run successfully, remove the iteration files
for file_name in os.listdir('.'):
    if file_name.endswith('.csv'):
        os.remove(file_name)

# save all the data in one file
df.to_csv('data.csv', index = False)

# Stop camera recording
#cam.stop_recording()

# Save data
# df.to_csv(f'data{i / 1000}.csv', index = False)

# FOR TESTING
print('Finished')
print(elapsed_time)

Start
Finished
29.977555751800537

In [10]:
1 % 100

1

In [17]:
pandas.read_csv('data.csv')

,time,temperature,pressure,acc_x,acc_y,acc_z,mag_x,mag_y,mag_z
0,0.000009,26.645723,969.169214,0.076492,-6.501809,7.113744,-19.454545,8.818182,-47.857143
1,0.080540,26.654555,969.198702,0.076492,-6.501809,7.075498,-19.000000,9.090909,-47.857143
2,0.158731,26.663386,969.150139,0.114738,-6.501809,7.075498,-19.818182,8.818182,-47.755102
3,0.235502,26.667802,969.159968,0.229476,-6.540055,7.075498,-19.454545,9.181818,-47.653061
4,0.312429,26.672218,969.228190,0.114738,-6.425317,7.075498,-19.545455,8.727273,-47.346939
...,...,...,...,...,...,...,...,...,...
238,19.577237,26.654555,969.208532,0.152984,-6.578301,7.075498,-19.545455,9.000000,-47.653061
239,19.654106,26.663386,969.169507,0.076492,-6.578301,7.037252,-19.727273,9.000000,-47.448980
240,19.821506,26.645723,969.149555,0.152984,-6.616547,7.113744,-19.636364,8.818182,-47.959184
241,19.898379,26.645723,969.110825,0.152984,-6.654793,7.037252,-19.545455,9.272727,-47.448980
242,19.977556,26.654555,969.130191,0.076492,-6.501809,7.190236,-19.909091,9.090909,-47.653061

In [14]:
pandas.read_csv('data2.csv')

,time,temperature,pressure,acc_x,acc_y,acc_z,mag_x,mag_y,mag_z
0,0.000007,26.283606,969.162693,0.152984,-6.463563,7.075498,-19.090909,9.636364,-48.877551
1,0.078006,26.310103,969.182725,0.152984,-6.425317,7.037252,-18.818182,9.818182,-48.775510
2,0.154648,26.318936,969.143728,0.076492,-6.425317,7.037252,-18.909091,10.181818,-48.367347
3,0.231223,26.327768,969.173240,0.152984,-6.501809,7.113744,-18.818182,9.727273,-48.775510
4,0.309906,26.323352,969.153565,0.114738,-6.425317,7.075498,-18.909091,10.090909,-49.183673
5,0.388650,26.332184,969.202400,0.152984,-6.578301,7.151990,-18.818182,9.909091,-49.285714
6,0.466723,26.332184,969.105081,0.152984,-6.578301,7.151990,-18.454545,10.000000,-48.979592
7,0.543017,26.332184,969.163403,0.152984,-6.501809,7.037252,-18.545455,10.363636,-49.081633
8,0.619515,26.332184,969.222075,0.114738,-6.425317,7.151990,-18.454545,10.363636,-49.387755
9,0.696191,26.332184,969.144079,0.076492,-6.501809,7.113744,-18.454545,10.181818,-49.183673
10,0.790670,26.336600,969.153565,0.076492,-6.463563,7.113744,-18.545455,10.000000,-49.183673
11,0.867383,26.323352,969.163403,0.229476,-6.463563,7.113744,-18.272727,10.181818,-49.387755
12,0.944166,26.327768,969.085408,0.152984,-6.425317,7.190236,-18.545455,10.363636,-49.285714
13,1.020558,26.327768,969.085408,0.114738,-6.463563,7.037252,-18.363636,10.090909,-50.102041
14,1.096875,26.332184,969.085408,0.114738,-6.463563,7.113744,-18.000000,10.090909,-49.387755
15,1.173290,26.327768,969.085408,0.114738,-6.463563,7.113744,-18.636364,10.454545,-48.877551
16,1.249575,26.327768,969.143728,0.191230,-6.578301,7.190236,-18.363636,10.090909,-49.693878
17,1.326943,26.327768,969.231560,0.152984,-6.540055,7.075498,-18.454545,9.909091,-49.489796
18,1.403404,26.318936,969.055898,0.152984,-6.463563,7.113744,-18.727273,9.909091,-49.081633
19,1.480518,26.323352,969.124405,0.152984,-6.463563,7.113744,-18.545455,10.000000,-48.877551

In [7]:
pandas.read_csv('data3.csv')

,time,temperature,pressure,acc_x,acc_y,acc_z,mag_x,mag_y,mag_z
0,0.000009,25.612281,969.127095,0.114738,-6.425317,7.228482,-18.818182,9.272727,-48.673469
1,0.091798,25.629949,969.283334,0.152984,-6.387071,7.228482,-18.363636,9.090909,-48.979592
2,0.169573,25.638783,969.264104,0.152984,-6.387071,7.228482,-18.909091,9.181818,-48.469388
3,0.246029,25.652033,969.205931,0.152984,-6.348825,7.190236,-19.000000,9.363636,-48.061224
4,0.322725,25.656450,969.205931,0.152984,-6.310579,7.151990,-18.727273,9.272727,-47.346939
...,...,...,...,...,...,...,...,...,...
295,23.056446,25.744788,969.189025,0.114738,-6.425317,7.266728,-19.181818,9.181818,-49.591837
296,23.133051,25.744788,969.198877,0.114738,-6.387071,7.266728,-18.818182,8.909091,-48.877551
297,23.209836,25.749205,969.169778,0.114738,-6.425317,7.266728,-19.000000,9.000000,-49.285714
298,23.287043,25.758038,969.198877,0.114738,-6.425317,7.266728,-19.181818,9.090909,-49.183673
299,23.366502,25.753621,969.111126,0.114738,-6.348825,7.228482,-19.000000,8.909091,-48.979592

In [6]:
file_stats = os.stat('data.csv')

print(f'File Size in Bytes is {file_stats.st_size}')
print(f'File Size in MegaBytes is {file_stats.st_size / (1024 * 1024)}')

File Size in Bytes is 1098290
File Size in MegaBytes is 1.0474109649658203